<ion-header>
  <ion-navbar>
    <ion-title>
      wallet
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- 默认首页 打开钱包 模块 -->
  <div #openWalletBox *ngIf=" openWalletContainer == 'show' ">
    <div class="openMyWallet" (click)="openFileDialog()">
        <div>导入钱包</div>
        <input type="file" id="updateFile" (change)="showContentT($event)">
    </div>

    <div class="inputWalletPassContainer" *ngIf=" showContentPw == 'show' ">
      <div class="walletPassBox">
          <div class="walletPassTitle"><div>钱包密码</div></div>

          <ion-input type="password" [(ngModel)]="walletPassword" (input)="onFilePassChange()" (porpertychange)="onFilePassChange()" autofocus="autofocus"></ion-input>

          <button ion-button block (click)="decryptWallet()" *ngIf=" unlock == 'show' ">解密</button>
      </div>
    </div>

   <!-- <button ion-button color="secondary" outline block id="openWalletBtn" (click)="openFileDialog()">打开钱包</button>-->



    <!--<ion-item *ngIf=" showContentPw == 'show' ">
      <ion-label stacked>您的钱包文件已加密，请输入密码：</ion-label>
      <ion-input type="password" [(ngModel)]="walletPassword" (input)="onFilePassChange()" (porpertychange)="onFilePassChange()"></ion-input>
    </ion-item>

    <div style="margin-top: 10px" *ngIf=" unlock == 'show' ">
      <button ion-button color="secondary" outline block (click)="decryptWallet()">解密</button>
    </div>-->
  </div>

  <!-- 钱包解密成功后 账户信息展示模块 -->
  <div id="showWalletMainPaper" *ngIf=" WalletMainInfoBox == 'show' ">
    <div id="sendTransaction">

      <!-- 地址资产模块 -->
      <div class="walletAddressBox">

          <!-- 资产模块 -->
          <div class="myAssetBox" *ngIf=" myAssetBox == 'show'">

            <div class="myAssetNum">
              <div class="balanceViewFormatAvaliable">{{balanceViewFormatAvaliable}}</div>
              <div class="accountShowTitle">Total Assets</div>
              <ion-badge color="secondary">{{AssetNameAvaliable}}</ion-badge>
            </div>
            <div class="myAssetNum">
              <div class="balanceViewFormatAvaliable">{{balanceViewFormatLock}}</div>
              <div class="accountShowTitle">Lock Assets</div>
              <ion-badge color="secondary">{{AssetNameLock}}</ion-badge>
            </div>
          </div>

          <!-- 账户地址模块 -->
          <div class="myAddressBox marginBot20">
            <div class="myAssetNum">
              <div class="accountsAddress" id="walletAddress">{{accountsAddress}}</div>
              <div class="accountShowTitle">My Address</div>
            </div>
          </div>

      </div>

    </div>

    <button ion-button block (click)="showTransferModule()">转账</button>
  </div>

</ion-content>

<!-- 转账模块 -->
<div class="transferAccountsBox" *ngIf=" transferAccountModal == 'show'">
  <ion-header>
    <ion-navbar>
      <ion-title>
        Transfer
      </ion-title>
    </ion-navbar>
  </ion-header>
  <div (click)="transferGoBack()" class="transferGoBackBtn"><ion-icon ios="ios-arrow-back" md="md-arrow-back" ></ion-icon></div>

  <!-- 对方地址 -->
  <div class="toTransferInputBox">
    <div class="toAddressBox">
      <ion-item>
        <ion-label floating>To Address</ion-label>
        <ion-input type="text" id="toAddressInput" placeholder="" [(ngModel)]="receiverAddress"></ion-input>
      </ion-item>
    </div>
    <!-- 发送数量 -->
    <div class="transferAmountBox marginBot20">
      <ion-item>
        <ion-label floating>Amount to Send</ion-label>
        <ion-input type="number" placeholder="" [(ngModel)]="receiverAmount" id="transferAmountInput"></ion-input>
      </ion-item>
    </div>
  </div>


  <div class="transferAccountsBtnBox">
    <button ion-button block (click)="openTransferModal()">Send</button>
  </div>
</div>


