page-about {

  $length20:20px;
  $font14:14px;
  $font16:16px;
  $font12:12px;
  $font20:20px;
  $height30:30px;
  $height40:40px;
  $length10:10px;
  .none{
    display: none;
  }

  #updateFile{
    display:none;
  }
  #sendTransaction>div{
    font-size: 14px;
    line-height: 24px;
    padding: 16px;
  }
  #copyAccountsAddress{
    float: right;
  }
  .marginBot20{
    margin-bottom: $length20;
  }
  .marginL20{
    margin-left:$length20;
  }
  .marginR20{
    margin-right:$length20;
  }
  .marginTop20{
    margin-top:$length20;
  }
  .marginL10{
    margin-left:$length10;
  }
  .confirmTransferInfoModal{
    position: absolute;
    left: 0;
    top:0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #333, $alpha: 0.9)
  }
  .confirmTransferInfoModal>.box{
    width: 90vw;
    height: 80vh;
    margin: 10vh auto;
  }
  .ion-group{
    padding: 10px;
    background: #fff;
    border-bottom:1px solid #666;
    color: #333;
    font-size: $font14;
  }
  .ion-item{
    min-height: $height40;
    height: auto;
    line-height: $height40;
  }
  .ion-item:not(:last-child){
    border-bottom:1px solid #ccc;
  }
  .ion-title{
    font-size: $font16;
    font-weight: 400;
  }
  .ion-title .ion-item{
    height: $height30;
    line-height: $height30;
  }
  .modalBtnsBox{
    text-align: center;
  }
  .modalBtnsBox .col:not(:last-child){
    border-right: 1px solid #666;
  }
  .confirmTransferInfoModal{
    display: none;
  }

  .openMyWallet{
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 4rem;
    margin: auto;
    width: 16rem;
    height: 16rem;
    border-radius: 100%;
    border: 10px solid #ddd;
    background: url("../assets/imgs/openWallet.svg")  no-repeat;
    background-position: center top 2.8rem;
    background-size: 6rem 6rem;
    z-index: 1;
    padding-top: 9.6rem;
    color: #488aff;
    font-size: 1.6rem;
    text-align: center;
  }
  .openMyWallet::after{
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-top: 10px solid #488aff;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    left: -10px;
    top:-10px;
    z-index: 2;
    margin: 0;
    animation: walletRotate 4s linear infinite;
  }

  @keyframes walletRotate {
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }

  .inputWalletPassContainer{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background: rgba(255,255,255,.8);
    display: flex;
    align-items: center;
  }
  .walletPassBox{
    width: 80vw;
    height: 24rem;
    margin: -8rem auto 0;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 3px 20px rgba(72,138,255,.8);
    background-image: url("../assets/imgs/yaoshi.svg");
    background-position: center top 3rem;
    background-repeat: no-repeat;
    background-size: 6rem auto;
    padding-top: 8.5rem;
    position: relative;
  }
  .walletPassTitle{
    height: 3rem;
    position: relative;
    display: flex;
    align-items: center;
  }
  .walletPassTitle::after{
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    background: #eee;
    left: 0;
    top:1.4rem;
    z-index: 0;
    position: absolute;
  }
  .walletPassTitle>div{
    width: 10rem;
    height: 3rem;
    line-height: 3rem;
    font-size: .14rem;
    color: #488aff;
    border-radius: 25px;
    border: 1px solid #488aff;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    z-index: 200;
  }

  .walletPassBox .text-input{
    text-align: center;
    border-bottom: 1px solid #488aff;
    width: 60%;
    display: block;
    margin: 3.2rem auto 0;
    font-size: 2rem;
  }

  .walletPassBox .button{
    position: absolute;
    bottom:0;
    left: 0;
    margin: 0;
    border-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  #showWalletMainPaper{
    /*background:linear-gradient(to right bottom,#02aaff 30%,#488aff 100%);*/
    height: 100%;
  }

  .walletAddressBox{
    /*background:linear-gradient(to right bottom,#02aaff 30%,#488aff 100%);*/
    color: #488aff;
    border: none;
  }

  .myAssetNum{
    line-height: 2.6rem;
    font-size: 1.6rem;
    margin: 1.4rem 0;
    position: relative;
    border-radius: 10px;
    border:1px solid #ddd;
    color: #4a4a4a;
    padding:1rem 1.5rem .3rem 5rem;
    background-repeat: no-repeat;
    background-position: left .6rem top 2.4rem;
    background-size: 3.2rem auto;
  }
  .myAssetNum:first-child{
    margin-top: 0;
  }
  .avaliableAsset{
    background-image: url("../assets/imgs/assetAvaliable.svg");
  }
  .lockAsset{
    background-image: url("../assets/imgs/lock.svg");
  }
  .myAssetAddress{
    background-image: url("../assets/imgs/Account.svg");
  }
  .myAssetNum>div{
    height: 3.4rem;
    line-height: 3.4rem;
  }
  .myAssetNum>div span{
    float:left;
    color:#999;
    font-size: 1.4rem;
    width: 8rem;
  }
  .myAssetNum .dataShow{
    width: calc(100% - 8rem);
    text-align: right;
    color: #4a4a4a;
    font-size: 1.6rem;
  }
  .myAssetNum>div::after{
    display: block;
    content: "";
    clear: both;
  }
  .myAssetNum .assetBoxTitle{
    font-size: 2rem;
    line-height: 3rem;
    border-bottom: 1px solid #ddd;
  }
  .myAssetNum .balanceViewFormatAvaliable{
    font-size: 2.4rem;
  }

  .badge{
    border-radius: 20px;
  }
  .accountsAddress{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
  }
  .accountShowTitle{
    color: #4a4a4a;
  }

  #showWalletMainPaper .button{
    width: 86vw;
    border-radius: 25px;
    margin: 0 auto;
    border: 1px solid #488aff;
    background-color: #488aff;
    color: #fff;
    position: absolute;
    bottom:2rem;
    left:7vw;
  }

  .transferAccountsBox{
    background-color: #f8f8f8;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 200;
    padding-top: 57px;
  }
  .toTransferInputBox{
    border:1px solid #488aff;
    border-radius: 10px;
    width: 90vw;
    margin: 2rem auto;
    overflow: hidden;
    padding: 10px 16px 10px 0;
  }
  .toTransferInputBox .item{
    color: #4a4a4a;
    background-color: transparent;
  }
  .toTransferInputBox .label,.toTransferInputBox .input{
    color: #4a4a4a;
  }

  .toTransferInputBox .item-input-has-focus .label-md[floating],.toTransferInputBox .input-has-focus .label-md[floating]{
    color: #4a4a4a;
  }
  .toTransferInputBox .item-md.item-input.input-has-focus .item-inner{
    border-bottom-color: #4a4a4a;
    box-shadow: none;
  }
  .toTransferInputBox .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,.toTransferInputBox .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom-color: #488aff;
    box-shadow: none;
  }

  .transferAccountsBtnBox .button{
    width: 90vw;
    border-radius: 10px;
    margin: 0 auto;
  }

  .transferAccountsBox ion-icon{
    font-size: 2.4rem;
    text-align: start;
  }
  .transferGoBackBtn{
    height: 56px;
    width: 4rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 200;
    padding-left: 2rem;
    display: flex;
    align-items: center;
  }
}


